body {
    background-color: rgb(255, 174, 205);
    color: rgb(255, 59, 108);
    font-family: "Oleo Script", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(255, 174, 205);
    color: rgb(255, 59, 108);
    font-family: "Oleo Script", system-ui;
}

.passo{
    display: none;
}

.passo.ativo{
display: block;
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 90%;
}